<h1>Login</h1>
<a href="/">Main menu ➡</a>
<br>
<a href="/signup">Go tu Sign Up ➡</a>
<br><br>
<form action="/loginForm" method="post">
    <label>Email:</label>
    <input type="email" name="username">
    <label>Password:</label>
    <input type="password" name="password">
    <input type="submit" value="Sign up">
</form>