<h1>Signup</h1>
<a href="/">Main menu ➡</a>
<br>
<a href="/login">Go to Log In ➡</a>
<br>
<br>
<form action="/signupForm" method="post">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Email:</label>
    <input type="email" name="username">
    <label>Password:</label>
    <input type="password" name="password">
    <input type="submit" value="Sign up">
</form>
